@charset "utf-8";

@media (max-width: 850px) {
  .carousel-caption h1 {
    font-size: 60px;
    font-weight: bolder;
    letter-spacing: 15px;
  }
}

@media (max-width: 768px) {
  .carousel-caption h1 {
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 0px;
  }

  .fw-workinghours {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    text-align: left;
  }
  .h-workinghours1 {
    height: 100px;
    margin-left: 80px;
  }
  .backcolor-b {
    background-color: black;
    height: 600px;
  }
}

@media (max-width: 411px) {
  .carousel-caption h1 {
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 0px;
  }
}
