body {
  font-family: "Roboto Slab", serif;
  height: 10000px;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
#wrap {
  overflow: hidden;
}
.relative {
  position: relative;
}
/*-------------------------------
            header
-------------------------------*/
/*-------   nav   -------*/
/*-------------------------------
            main
-------------------------------*/
/*-------   carousel   -------*/
/*  カルーセルの高さ  */
#main .carousel-item {
  height: 100vh;
}
.carousel-1 {
  background-image: url(./images/carousel_1.jpg);
}
.carousel-2 {
  background-image: url(./images/carousel_2.jpg);
}
.carousel-3 {
  background-image: url(./images/carousel_3.jpg);
}
.carousel-style {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#main .carousel-control-prev,
.carousel-control-next {
  background-color: rgba(173, 216, 230, 0);
  border: none;
}
/* カルーセルテキストスタイル　*/
.carousel-caption {
  height: 350px;
}
.carousel-caption h1 {
  font-size: 50px;
  font-weight: bolder;
  letter-spacing: 30px;
}
/*-------------------------------
            workinghours
-------------------------------*/
.workinghours-img {
  background-image: url(./images/workinghours.jpg);
  background-size: cover;
}
.h-workinghours1 {
  height: 150px;
  margin-left: 80px;
  margin-bottom: 50px;
}

.h-workinghours2 {
  height: 350px;
  margin-left: 80px;
  margin-bottom: 50px;
}
.hours-text {
  margin-top: 100px;
}
.fw-workinghours {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  text-align: right;
}
/*-------------------------------
            ourhow
-------------------------------*/
.h-ourhow {
  height: 600px;
}
.our-text {
  margin-top: 30%;
  color: white;
}
.our-img-l {
  background-image: url(./images/ourhow_1_640.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.our-img-r {
  background-image: url(./images/sozai_2.jpg);
}
.read-more-button {
  display: inline-block;
  font-size: 15pt; /* 文字サイズ */
  text-align: center; /* 文字位置   */
  cursor: pointer; /* カーソル   */
  padding: 19px 62px; /* 余白       */
  background: #000000; /* 背景色     */
  color: #ffffff; /* 文字色     */
  line-height: 1em; /* 1行の高さ  */
  transition: 0.3s; /* なめらか変化 */
  border: 2px solid white; /* 枠の指定 */
  letter-spacing: 10px;
}
.read-more-button:hover {
  color: #000000; /* 背景色     */
  background: #ffffff; /* 文字色     */
}
/*-------------------------------
            counterup
-------------------------------*/
.backcolor-b {
  background-color: black;
}
.counter-num-text {
  font-size: 50px;
  color: #ffffff;
}
.counter-com-text3 {
  font-size: 10px;
}
/*-------------------------------
            cast
-------------------------------*/
.fa-facebook-f,
.fa-twitter,
.fa-instagram,
.fa-linkedin-in {
  padding-right: 15px;
  color: #000000;
}
/*-------------------------------
            newsletter
-------------------------------*/
.news-img {
  background: url(./images/news_letters_1280.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
}
.gray-backimg {
  background-color: rgba(0, 0, 0, 0.4);
  height: 400px;
}
